[Desktop Entry]
Type=Application
Name=Microsoft Exchange Server (EWS)
Name[ar]=خادوم «مايكروسوفت إكسچينج» (EWS)
Name[bg]=Microsoft Exchange Server (EWS)
Name[ca]=Servidor Microsoft Exchange (EWS)
Name[ca@valencia]=Servidor Microsoft Exchange (EWS)
Name[cs]=Server Microsoft Exchange (EWS)
Name[da]=Microsoft Exchange-server (EWS)
Name[de]=Microsoft Exchange Server (EWS)
Name[en_GB]=Microsoft Exchange Server (EWS)
Name[eo]=Microsoft Exchange Server (EWS)
Name[es]=Servidor Microsoft Exchange (EWS)
Name[et]=Microsoft Exchange Server (EWS)
Name[eu]=Microsoft Exchange Server (EWS)
Name[fi]=Microsoft Exchange -palvelin (EWS)
Name[fr]=Microsoft Exchange Server (EWS)
Name[gl]=Servidor de Microsoft Exchange (EWS)
Name[hsb]=Microsoft Exchange-serwer (EWS)
Name[ia]=Microsoft Exchange Server (EWS)
Name[it]=Microsoft Exchange Server (EWS)
Name[ka]=Microsoft Exchange Server (EWS)
Name[ko]=Microsoft Exchange 서버(EWS)
Name[nl]=Microsoft Exchange Server (EWS)
Name[pl]=Microsoft Exchange Server (EWS)
Name[pt]=Servidor de Microsoft Exchange (EWS)
Name[pt_BR]=Microsoft Exchange Server (EWS)
Name[ru]=Сервер Microsoft Exchange (EWS)
Name[sk]=Microsoft Exchange Server (EWS)
Name[sl]=Strežnik Microsoft Exchange (EWS)
Name[sr]=Мајкрософтов Ексчејнџ-сервер (ЕВС)
Name[sr@ijekavian]=Мајкрософтов Ексчејнџ-сервер (ЕВС)
Name[sr@ijekavianlatin]=Microsoftov Exchange Server (EWS)
Name[sr@latin]=Microsoftov Exchange Server (EWS)
Name[sv]=Microsoft Exchange-server (EWS)
Name[tr]=Microsoft Exchange Sunucusu (EWS)
Name[uk]=Сервер Microsoft Exchange (EWS)
Name[x-test]=xxMicrosoft Exchange Server (EWS)xx
Name[zh_CN]=微软 Exchange 服务器（EWS）
Name[zh_TW]=Microsoft Exchange 伺服器 (EWS)
NoDisplay=true
Exec=akonadi_ews_resource
Icon=akonadi-ews
