[Desktop Entry]
Name=vCard File
Name[ar]=ملفّ vCard
Name[bg]=Файл vCard
Name[bs]=VCard datoteka
Name[ca]=Fitxer vCard
Name[ca@valencia]=Fitxer vCard
Name[cs]=Soubor s vizitkou
Name[da]=vCard-fil
Name[de]=vCard-Datei
Name[el]=VCard αρχείο
Name[en_GB]=vCard File
Name[eo]=vCard-dosiero
Name[es]=Archivo vCard
Name[et]=vCard-fail
Name[eu]=vCard fitxategia
Name[fi]=vCard-tiedosto
Name[fr]=Fichier « vCard »
Name[ga]=Comhad v-Chárta
Name[gl]=Ficheiro vCard
Name[hsb]=vCard-wizitkowa dataja
Name[hu]=vCard fájl
Name[ia]=File VCard
Name[it]=File vCard
Name[ka]=vCard ფაილი
Name[kk]=VCard файлы
Name[ko]=vCard 파일
Name[lt]=VCard failas
Name[nb]=vCard-fil
Name[nds]=VCard-Datei
Name[nl]=vCard-bestand
Name[pl]=Plik wizytówek
Name[pt]=Ficheiro vCard
Name[pt_BR]=Arquivo vCard
Name[ru]=Файл vCard
Name[sk]=Súbor VCard
Name[sl]=Datoteka vCard
Name[sr]=В‑кард фајл
Name[sr@ijekavian]=В‑кард фајл
Name[sr@ijekavianlatin]=VCard fajl
Name[sr@latin]=VCard fajl
Name[sv]=vCard-fil
Name[tr]=VCard Dosyası
Name[ug]=vCard ھۆججىتى
Name[uk]=Файл vCard
Name[x-test]=xxvCard Filexx
Name[zh_CN]=vCard 文件
Name[zh_TW]=vCard 檔案
Icon=text-directory
Comment=Loads contact from vCard File
Comment[ar]=يحمّل متراسلًا من ملفّ vCard
Comment[bg]=Зареждане на контакти от файл vCard
Comment[ca]=Carrega els contactes des d'un fitxer vCard
Comment[ca@valencia]=Carrega els contactes des d'un fitxer vCard
Comment[cs]=Načítá data ze souboru vizitek
Comment[da]=Indlæs kontakt fra vCard-fil
Comment[de]=Lädt Kontakte aus einer vCard-Datei
Comment[el]=Φορτώνει επαφή από αρχείο VCard
Comment[en_GB]=Loads contact from vCard File
Comment[eo]=Ŝargas kontakton de vCard Dosiero
Comment[es]=Carga contactos desde un archivo vCard
Comment[et]=Kontakti laadimine vCard-failist
Comment[eu]=Kontaktua zamatzen du vCard fitxategi batetik
Comment[fi]=Lataa yhteystiedon vCard-tiedostosta
Comment[fr]=Charge un contact depuis un fichier au format « vCard »
Comment[gl]=Cargar os contactos dun ficheiro vCard.
Comment[hsb]=Čita kontakt z vCard-dataje
Comment[hu]=Névjegy betöltése vCard fájlból
Comment[ia]=Carga contactos ab  file vCard
Comment[it]=Carica contatti da un file vCard
Comment[ka]=კონტაქტის წაკითხვა vCard ფაილიდან
Comment[ko]=vCard 파일에서 연락처를 가져옵니다
Comment[nb]=Laster kontakt fra  vCard-fila
Comment[nds]=Laadt Kontakten ut en vCard-Datei
Comment[nl]=Laadt contactpersoon uit een vCard-bestand
Comment[pl]=Wczytuje kontakty z plików wizytówek vCard
Comment[pt]=Carrega um contacto de um ficheiro vCard
Comment[pt_BR]=Carrega os contatos de um arquivo vCard
Comment[ru]=Загрузка контакта из файла vCard
Comment[sk]=Načíta kontakt zo súboru vCard
Comment[sl]=Naloži stik iz datoteke vCard
Comment[sr]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavian]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavianlatin]=Učitava kontakt iz vCard fajla
Comment[sr@latin]=Učitava kontakt iz vCard fajla
Comment[sv]=Laddar kontakt från en vCard-fil
Comment[tr]=VCard dosyasından kişi yükler
Comment[uk]=Завантажує дані запису контакту із файла vCard
Comment[x-test]=xxLoads contact from vCard Filexx
Comment[zh_CN]=从 vCard 文件加载联系人
Comment[zh_TW]=從 vCard 檔載入聯絡人

[Wizard]
Type=text/vcard
Script=vcardwizard.es

[Translate]
Filename=accountwizard_vcard
