[Desktop Entry]
Type=Application
Name=Emails
Name[ar]=البُرد الإلكترونيّة
Name[bg]=Е-писма
Name[ca]=Correus electrònics
Name[ca@valencia]=Correus electrònics
Name[cs]=E-maily
Name[de]=E-Mails
Name[en_GB]=Emails
Name[eo]=Retpoŝtoj
Name[es]=Correos
Name[eu]=E-postak
Name[fi]=Sähköpostit
Name[fr]=Courriels
Name[gl]=Correo electrónico
Name[ia]=Messages de e-posta
Name[it]=Posta elettronica
Name[ka]=ელ.წერილები
Name[ko]=이메일
Name[nl]=E-mailberichten
Name[pl]=Poczta
Name[pt]=E-mails
Name[pt_BR]=E-mails
Name[ru]=Электронная почта
Name[sl]=Elektronske pošte
Name[sv]=E-post
Name[tr]=E-postalar
Name[uk]=Електронна пошта
Name[x-test]=xxEmailsxx
Name[zh_CN]=电子邮件
NoDisplay=true
Exec=akonadi_imap_resource
Icon=kmail
