[Desktop Entry]
Type=Application
Name=Open-Xchange Groupware Server
Name[ar]=خادوم البرمجيّات التّعاونيّة «أوبن إكس-چينج»
Name[bg]=Сървър Open-Xchange Groupware
Name[bs]=Open-Xchange grupni server
Name[ca]=Servidor de treball en grup Open-Xchange
Name[ca@valencia]=Servidor de treball en grup Open-Xchange
Name[cs]=Server Open-Xchange Groupware
Name[da]=Open-Xchange groupware-server
Name[de]=Open-Xchange-Groupware-Server
Name[el]=Εξυπηρετητής Groupware OpenXchange
Name[en_GB]=Open-Xchange Groupware Server
Name[eo]=Open-Xchange Groupware Server
Name[es]=Servidor de software colaborativo Open-Xchange
Name[et]=Open-Xchange'i grupitöö server
Name[eu]=OpenXchange talde-laneko zerbitzaria
Name[fi]=Open-Xchange-työryhmäpalvelin
Name[fr]=Serveur de collaboration Open-Xchange
Name[ga]=Freastalaí Groupware Open-Xchange
Name[gl]=Servidor de traballo en grupo OpenXchange
Name[hu]=Open-Xchange csoportmunka-kiszolgáló
Name[ia]=Servitor de Open-Xchange Groupware
Name[it]=Server di groupware Open-Xchange
Name[ja]=Open-Xchange グループウェアサーバ
Name[ka]=Open-Xchange Groupware სერვერი
Name[kk]=Open-Xchange топтық іс сервері
Name[km]=ម៉ាស៊ីន​បម្រើ Open-Xchange Groupware
Name[ko]=Open-Xchange 그룹웨어 서버
Name[lt]=Open-Xchange grupinio darbo serveris
Name[lv]=Open-Xchange grupprogrammatūras serveris
Name[nb]=OpenXchange-tjener
Name[nds]=OpenXchange-Arbeitkoppelserver
Name[nl]=Open-Xchange-groupware-server
Name[nn]=Open-Xchange-tenar
Name[pa]=Open-Xchange ਗਰੁੱਪਵੇਅਰ ਸਰਵਰ
Name[pl]=Serwer do pracy grupowej Open-Xchange
Name[pt]=Servidor de 'Groupware' Open-Xchange
Name[pt_BR]=Servidor groupware Open-Xchange
Name[ru]=Сервер совместной работы Open-Xchange
Name[sk]=Groupware Server Open-Xchange
Name[sl]=Strežnik za skupinsko delo Open-Xchange
Name[sr]=Опен‑ексчејнџов групверски сервер
Name[sr@ijekavian]=Опен‑ексчејнџов групверски сервер
Name[sr@ijekavianlatin]=Open‑Xchangeov grupverski server
Name[sr@latin]=Open‑Xchangeov grupverski server
Name[sv]=Open-xchange grupprogramserver
Name[tr]=Open-Xchange Groupware Sunucusu
Name[uk]=Сервер групової роботи Open-Xchange
Name[x-test]=xxOpen-Xchange Groupware Serverxx
Name[zh_CN]=Open-Xchange 群件服务器
Name[zh_TW]=Open-Xchange 群組伺服器
NoDisplay=true
Exec=akonadi_openxchange_resource
Icon=ox
