[Desktop Entry]
Name=Microsoft Exchange Server (EWS) Mail Transport
Name[ar]=نقل البريد لخادوم «مايكروسوفت إكسچينج» (EWS)
Name[bg]=Транспорт на поща на Microsoft Exchange Server (EWS)
Name[ca]=Transport de correu del servidor Microsoft Exchange (EWS)
Name[ca@valencia]=Transport de correu del servidor Microsoft Exchange (EWS)
Name[cs]=Server Microsoft Exchange (EWS) přenos pošty
Name[de]=E-Mail-Transport über Microsoft Exchange Server (EWS) 
Name[en_GB]=Microsoft Exchange Server (EWS) Mail Transport
Name[eo]=Poŝttransporto de Microsoft Exchange Server (EWS).
Name[es]=Agente de transporte de Microsoft Exchange Server (EWS)
Name[et]=Microsoft Exchange Serveri (EWS) e-post
Name[eu]=Microsoft Exchange Server (EWS) Posta garraioa
Name[fi]=Microsoft Exchange -palvelimen (EWS) postinvälitys
Name[fr]=Transporteur de courriel Microsoft Exchange Server (EWS)
Name[gl]=Transporte de correo de servidor de Microsoft Exchange (EWS)
Name[hsb]=Microsoft Exchange Server (EWS) mejlkowy transport
Name[ia]=Microsoft Exchange Server (EWS) Mail Transport (transporto de e-posta)
Name[it]=Trasporto della posta Microsoft Exchange Server (EWS)
Name[ka]=Microsoft Exchange Server (EWS) ელფოსტის ტრანსპორტი
Name[ko]=Microsoft Exchange 서버(EWS) 메일 전송
Name[nl]=Microsoft Exchange Server (EWS) e-mailtransport
Name[pl]=Serwer pocztowy Microsoft Exchange Server (EWS)
Name[pt]=Transporte de Correio do Servidor Microsoft Exchange (EWS)
Name[pt_BR]=Transporte de E-mails do Servidor Microsoft Exchange (EWS)
Name[ru]=Транспорт почты Microsoft Exchange (EWS)
Name[sk]=Poštový prenos Microsoft Exchange Server (EWS)
Name[sl]=Prenos pošte za strežnik Microsoft Exchange (EWS)
Name[sr]=Транспорт поште преко Мајкрософтовог Ексчејнџ-сервера (ЕВС)
Name[sr@ijekavian]=Транспорт поште преко Мајкрософтовог Ексчејнџ-сервера (ЕВС)
Name[sr@ijekavianlatin]=Transport pošte preko Microsoftovog Exchange Servera (EWS)
Name[sr@latin]=Transport pošte preko Microsoftovog Exchange Servera (EWS)
Name[sv]=Microsoft Exchange-server (EWS) brevöverföring
Name[tr]=Microsoft Exchange Suncusu (EWS) Mail Taşıması
Name[uk]=Транспортування пошти за допомогою сервера обміну поштою Microsoft (EWS)
Name[x-test]=xxMicrosoft Exchange Server (EWS) Mail Transportxx
Name[zh_CN]=微软 Exchange 服务器（EWS）邮件传输
Name[zh_TW]=Microsoft Exchange 伺服器 (EWS) 郵件轉移
Comment=Allows sending e-mail through the Microsoft Exchange server using EWS
Comment[ar]=يتيح إرسال البريد الإلكترونيّ عبر خادوم «مايكروسوفت إكسچينج» باستخدام EWS
Comment[bg]=Позволява изпращането на поща чрез сървър на Microsoft Exchange, използвайки EWS
Comment[ca]=Permet l'enviament de correu electrònic a través d'un servidor Microsoft Exchange emprant EWS
Comment[ca@valencia]=Permet l'enviament de correu electrònic a través d'un servidor Microsoft Exchange emprant EWS
Comment[cs]=Umožňuje posílat poštu přes server Microsoft Exchange pomocí EWS
Comment[de]=Ermöglicht den Versand von E-Mails mit EWS über einen Microsoft Exchange Server
Comment[en_GB]=Allows sending e-mail through the Microsoft Exchange server using EWS
Comment[eo]=Permesas sendi retpoŝton per la servilo de Microsoft Exchange uzante EWS
Comment[es]=Permite el envío de correo a través del servidor Microsoft Exchange usando EWS
Comment[et]=Võimaldab saata Microsoft Exchange serveri kaudu e-kirju EWS abil
Comment[eu]=Baimendu Microsoft Exchange zerbitzariaren bidez baimendu e-posta bidaltzea EWS erabiliz
Comment[fi]=Sallii sähköpostin lähetyksen EWS:llä Microsoft Exchange -palvelimelta
Comment[fr]=Permet d'envoyer le courriel par le serveur Microsoft Exchange en utilisant EWS
Comment[gl]=Permite enviar correo electrónico a través do servidor de Microsoft Exchange usando EWS.
Comment[hsb]=Dowoli pósłanje mejlkow přez Microsoft Exchange z pomocu EWS
Comment[ia]=Il permitte inviar messages de e-posta per le servitor  Microsoft Exchange usante EWS
Comment[it]=Permette l'invio di messaggi di posta tramite il server Microsoft Exchange usando EWS
Comment[ka]=საშუალებას გაძლევთ, EWS-ის გამოყენებით ელფოსტა Microsoft Exchange-ით გააგზავნოთ
Comment[ko]=EWS를 사용하여 Microsoft Exchange 메일 서버로 이메일 전송을 지원합니다
Comment[nl]=Staat het zenden van e-mail via de Microsoft Exchange server toe met EWS
Comment[pl]=Umożliwia wysyłanie poczty przez serwer Microsoft Exchange przy użyciu EWS
Comment[pt]=Permite o envio de e-mail através de um servidor Microsoft Exchange com o EWS
Comment[pt_BR]=Permite o envio de e-mail através de um servidor Microsoft Exchange com o EWS
Comment[ru]=Служит для отправления почты через серверы Microsoft Exchange (EWS)
Comment[sk]=Umožňuje odosielanie e-mailov cez server Microsoft Exchange pomocou EWS
Comment[sl]=Dovoli pošiljanje pošte preko strežnika Microsoft Exchange z uporabo EWS
Comment[sr]=Слање е‑поште преко Мајкрософтовог Ексчејнџ-сервера користећи ЕВС
Comment[sr@ijekavian]=Слање е‑поште преко Мајкрософтовог Ексчејнџ-сервера користећи ЕВС
Comment[sr@ijekavianlatin]=Slanje e‑pošte preko Microsoftovog Exchange Servera koristeći EWS
Comment[sr@latin]=Slanje e‑pošte preko Microsoftovog Exchange Servera koristeći EWS
Comment[sv]=Gör det möjligt att skicka e-post via Microsoft Exchange-servern med användning av EWS
Comment[tr]=EWS kullanarak Microsoft Exchange sunucu üzerinde e-posta göndermeye izin verir
Comment[uk]=Надає змогу надсилати повідомлення електронної пошти за допомогою сервера Microsoft Exchange та EWS
Comment[x-test]=xxAllows sending e-mail through the Microsoft Exchange server using EWSxx
Comment[zh_CN]=允许通过微软 Exchange 服务器使用 EWS 发送电子邮件
Comment[zh_TW]=允許藉由使用 EWS 的 Microsoft Exchange 伺服器傳送電子郵件
Type=AkonadiResource
Exec=akonadi_ewsmta_resource
Icon=akonadi-ews

X-Akonadi-MimeTypes=text/directory,message/rfc822
X-Akonadi-Capabilities=NeedsNetwork,MailTransport
X-Akonadi-Identifier=akonadi_ewsmta_resource
