[Desktop Entry]
Name=mailbox.org
Name[bg]=mailbox.org
Name[ca]=mailbox.org
Name[ca@valencia]=mailbox.org
Name[cs]=mailbox.org
Name[de]=mailbox.org
Name[en_GB]=mailbox.org
Name[eo]=leterkesto.org
Name[es]=mailbox.org
Name[eu]=mailbox.org
Name[fi]=mailbox.org
Name[fr]=mailbox.org
Name[gl]=mailbox.org
Name[ia]=mailbox.org
Name[it]=mailbox.org
Name[ka]=mailbox.org
Name[ko]=mailbox.org
Name[nl]=mailbox.org
Name[pl]=mailbox.org
Name[pt]=mailbox.org
Name[pt_BR]=mailbox.org
Name[ru]=mailbox.org
Name[sl]=mailbox.org
Name[sv]=mailbox.org
Name[tr]=mailbox.org
Name[uk]=mailbox.org
Name[x-test]=xxmailbox.orgxx
Name[zh_CN]=mailbox.org
Type=Service

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-ProviderUsesSSL=1
X-DavGroupware-CalDavHost=dav.mailbox.org
X-DavGroupware-CalDavPath=/caldav
X-DavGroupware-CardDavHost=dav.mailbox.org
X-DavGroupware-CardDavPath=/carddav
