[Desktop Entry]
Name=vCard Directory
Name[ar]=دليل vCard
Name[bg]=Папка с vCard
Name[bs]=VCard direktorij
Name[ca]=Directori vCard
Name[ca@valencia]=Directori vCard
Name[cs]=Adresář vizitek
Name[da]=vCard-mappe
Name[de]=vCard-Ordner
Name[el]=VCard Κατάλογος
Name[en_GB]=vCard Directory
Name[eo]=vCard Dosierujo
Name[es]=Directorio vCard
Name[et]=vCardide kataloog
Name[eu]=vCard direktorioa
Name[fi]=vCard-kansio
Name[fr]=Dossier « vCard »
Name[ga]=Comhadlann v-Chártaí
Name[gl]=Cartafol de vCard
Name[hsb]=vCard-zapisk
Name[hu]=vCard mappa
Name[ia]=Directorio de VCard
Name[it]=Directory vCard
Name[ka]=vCard საქაღალდე
Name[kk]=VCard қапшығы
Name[ko]=vCard 디렉터리
Name[lt]=vCard katalogas
Name[nb]=vCard-mappe
Name[nds]=VCard-Orner
Name[nl]=vCard-map
Name[pl]=Katalog wizytówek
Name[pt]=Pasta de vCard's
Name[pt_BR]=Pasta de vCards
Name[ru]=Каталог с файлами vCard
Name[sk]=Adresár VCard
Name[sl]=Mapa vCard
Name[sr]=В‑кард фасцикла
Name[sr@ijekavian]=В‑кард фасцикла
Name[sr@ijekavianlatin]=VCard fascikla
Name[sr@latin]=VCard fascikla
Name[sv]=vCard-katalog
Name[tr]=VCard Dizini
Name[uk]=Каталог vCard
Name[x-test]=xxvCard Directoryxx
Name[zh_CN]=vCard 目录
Name[zh_TW]=vCard 目錄
Icon=text-directory
Comment=Loads contact from vCard Directory
Comment[ar]=يحمّل متراسلًا من دليل vCard
Comment[bg]=Зареждане на контакти от папка с vCard
Comment[ca]=Carrega els contactes des d'un directori vCard
Comment[ca@valencia]=Carrega els contactes des d'un directori vCard
Comment[cs]=Načítá data z adresáře vizitek
Comment[da]=Indlæser kontakt fra vCard-mappe
Comment[de]=Lädt Kontakt aus einem vCard-Ordner
Comment[el]=Φορτώνει επαφή από κατάλογο vCard
Comment[en_GB]=Loads contact from vCard Directory
Comment[eo]=Ŝargas kontakton de vCard Adresaro
Comment[es]=Carga contactos desde un directorio vCard
Comment[et]=Kontakti laadimine vCardide kataloogist
Comment[eu]=Kontaktuak zamatzen ditu vCard direktorio batetik
Comment[fi]=Lataa yhteystiedon VCard-kansiosta
Comment[fr]=Charge des données depuis un dossier « vCard »
Comment[gl]=Carga contactos dun cartafol de vCard.
Comment[hsb]=Čita kontakt ze zapiska z vCard-wizitkami
Comment[ia]=Carga contactos ab un directorio vCard
Comment[it]=Carica contatti da una cartella vCard
Comment[ka]=კონტაქტების წაკითხვა vCard ფაილების შემცველი საქაღალდიდან
Comment[ko]=vCard 디렉터리에서 연락처를 가져옵니다
Comment[nl]=Laadt contactpersoon uit een vCard-map
Comment[pl]=Wczytuje kontakty z katalogu z wizytówkami vCard
Comment[pt]=Carrega um contacto de uma pasta de ficheiros vCard
Comment[pt_BR]=Carrega os contatos de uma pasta vCard
Comment[ru]=Загрузка контактов из каталога с файлами vCard
Comment[sk]=Načíta kontakt z adresára vCard
Comment[sl]=Naloži stik iz mape z datotekami vCard
Comment[sr]=Учитава контакт из в‑кард фасцикле
Comment[sr@ijekavian]=Учитава контакт из в‑кард фасцикле
Comment[sr@ijekavianlatin]=Učitava kontakt iz vCard fascikle
Comment[sr@latin]=Učitava kontakt iz vCard fascikle
Comment[sv]=Laddar kontakter från en vCard-katalog
Comment[tr]=vCard Dizininden kişiyi yükler
Comment[uk]=Завантажує дані запису контакту із каталогу vCard
Comment[x-test]=xxLoads contact from vCard Directoryxx
Comment[zh_CN]=从 vCard 目录加载联系人
Comment[zh_TW]=從 vCard 目錄載入聯絡人

[Wizard]
Type=text/vcard
Script=vcarddirwizard.es

[Translate]
Filename=accountwizard_vcarddir
