[Desktop Entry]
Name=Google Groupware
Name[ar]=البرمجيات التعاونية من غوغل
Name[bg]=Google Groupware
Name[ca]=Google Groupware
Name[ca@valencia]=Google Groupware
Name[cs]=Google Groupware
Name[de]=Google Groupware
Name[en_GB]=Google Groupware
Name[eo]=Google Groupware
Name[es]=Google Groupware
Name[et]=Google Groupware
Name[eu]=Google Groupware
Name[fi]=Google Groupware
Name[fr]=Logiciel de groupe de travail « Google Groupware »
Name[gl]=Traballo en grupo de Google
Name[hsb]=Google Groupware
Name[ia]=Google Groupware
Name[it]=Google Groupware
Name[ka]=Google Groupware
Name[ko]=Google 그룹웨어
Name[nl]=Google Groupware
Name[pl]=Praca grupowa Google
Name[pt]='Groupware' do Google
Name[pt_BR]=Google Groupware
Name[ru]=Службы совместной работы Google
Name[sl]=Google Groupware
Name[sv]=Google grupprogram
Name[tr]=Google Groupware
Name[uk]=Групова робота у Google
Name[x-test]=xxGoogle Groupwarexx
Name[zh_CN]=Google 协作套件
Comment=Access your Google Calendars, Contacts and Tasks from KDE
Comment[ar]=توصّل إلى تقاويم ومهام وجهات اتصال غوغل من كِيدِي
Comment[bg]=Достъп до календарите и задачите ви в Google от KDE
Comment[ca]=Accediu als calendaris, contactes i tasques de Google des del KDE
Comment[ca@valencia]=Accediu als calendaris, contactes i tasques de Google des de KDE
Comment[cs]=Přistupujte ke k kalendářům, kontaktům a úkolům z KDE
Comment[de]=Greifen Sie in KDE auf Ihre Google-Kalender, -Kontakte und -Aufgaben zu
Comment[en_GB]=Access your Google Calendars, Contacts and Tasks from KDE
Comment[eo]=Aliru viajn Guglajn Kalendarojn, Kontaktojn kaj Taskojn de KDE
Comment[es]=Acceda a sus calendarios, contactos y tareas de Google desde KDE
Comment[et]=Oma Google'i kalendrite, kontaktide ja ülesannete kasutamine otse KDE-st
Comment[eu]=Atzitu Google-ko zure kontaktu eta zereginak KDEtik
Comment[fi]=Pääsy Googlen kalentereihin ja tehtäviin KDE:sta
Comment[fr]=Accès à vos agendas, contacts et tâches Google depuis KDE
Comment[gl]=Acceda aos seus calendarios, contactos e tarefas de Google desde KDE.
Comment[hsb]=Spřistupni Waše Google-protyki, kontakty a nadawki přez KDE
Comment[ia]=Accede a tu Calendarios, Contactos  e Cargas de Google ab KDE
Comment[it]=Accedi ai tuoi calendari, contatti e attività Google da KDE
Comment[ka]=იქონიეთ Google-ის დაშიფრული კალენდარებთან, კონტაქტებთან და ამოცანებთან წვდომა KDE-დან
Comment[ko]=KDE에서 Google 캘린더, 연락처, 할 일에 접근합니다
Comment[nl]=Heb toegang tot uw Google agenda's, contactpersonen en taken vanuit KDE
Comment[nn]=Få tilgang til Google-kalendrar, kontaktar og oppgåver
Comment[pl]=Daje dostęp do twoich kalendarzy, kontaktów i zadań Google z KDE
Comment[pt]=Aceda aos seus calendários, contactos e tarefas da Google a partir do KDE
Comment[pt_BR]=Acesse seus calendários, contatos e tarefas do Google a partir do KDE
Comment[ru]=Доступ к контактам, задачам и календарям Google из KDE
Comment[sl]=Dostopajte do svojih Googlovih koledarjev, stikov in opravil iz okolja KDE
Comment[sv]=Kom åt Google kalendrar, kontakter och uppgifter från KDE
Comment[tr]=Google Takvimlerinize, Kişilerinize ve Görevlerinize KDE'den erişin
Comment[uk]=Доступ до ваших календарів, записів контактів і завдань Google з KDE
Comment[x-test]=xxAccess your Google Calendars, Contacts and Tasks from KDExx
Comment[zh_CN]=在 KDE 中访问 Google 日历、联系人和任务列表
Type=AkonadiResource
Exec=akonadi_google_resource
X-Akonadi-MimeTypes=text/calendar,text/directory,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource,FreeBusyProvider
X-Akonadi-Identifier=akonadi_google_resource
X-Akonadi-Custom-KAccounts=google-contacts,google-calendar
Icon=im-google
