[Desktop Entry]
Type=Application
Name=vCard Directory
Name[ar]=دليل vCard
Name[bg]=Папка с vCard
Name[bs]=VCard direktorij
Name[ca]=Directori vCard
Name[ca@valencia]=Directori vCard
Name[cs]=Adresář vizitek
Name[da]=vCard-mappe
Name[de]=vCard-Ordner
Name[el]=VCard Κατάλογος
Name[en_GB]=vCard Directory
Name[eo]=vCard Dosierujo
Name[es]=Directorio vCard
Name[et]=vCardide kataloog
Name[eu]=vCard direktorioa
Name[fi]=vCard-kansio
Name[fr]=Dossier « vCard »
Name[ga]=Comhadlann v-Chártaí
Name[gl]=Cartafol de vCard
Name[hsb]=vCard-zapisk
Name[hu]=vCard mappa
Name[ia]=Directorio de VCard
Name[it]=Directory vCard
Name[ka]=vCard საქაღალდე
Name[kk]=VCard қапшығы
Name[ko]=vCard 디렉터리
Name[lt]=vCard katalogas
Name[nb]=vCard-mappe
Name[nds]=VCard-Orner
Name[nl]=vCard-map
Name[pl]=Katalog wizytówek
Name[pt]=Pasta de vCard's
Name[pt_BR]=Pasta de vCards
Name[ru]=Каталог с файлами vCard
Name[sk]=Adresár VCard
Name[sl]=Mapa vCard
Name[sr]=В‑кард фасцикла
Name[sr@ijekavian]=В‑кард фасцикла
Name[sr@ijekavianlatin]=VCard fascikla
Name[sr@latin]=VCard fascikla
Name[sv]=vCard-katalog
Name[tr]=VCard Dizini
Name[uk]=Каталог vCard
Name[x-test]=xxvCard Directoryxx
Name[zh_CN]=vCard 目录
Name[zh_TW]=vCard 目錄
NoDisplay=true
Exec=akonadi_vcarddir_resource
Icon=text-x-vcard
