[Desktop Entry]
Name=vCard Directory
Name[ar]=دليل vCard
Name[bg]=Папка с vCard
Name[bs]=VCard direktorij
Name[ca]=Directori vCard
Name[ca@valencia]=Directori vCard
Name[cs]=Adresář vizitek
Name[da]=vCard-mappe
Name[de]=vCard-Ordner
Name[el]=VCard Κατάλογος
Name[en_GB]=vCard Directory
Name[eo]=vCard Dosierujo
Name[es]=Directorio vCard
Name[et]=vCardide kataloog
Name[eu]=vCard direktorioa
Name[fi]=vCard-kansio
Name[fr]=Dossier « vCard »
Name[ga]=Comhadlann v-Chártaí
Name[gl]=Cartafol de vCard
Name[hsb]=vCard-zapisk
Name[hu]=vCard mappa
Name[ia]=Directorio de VCard
Name[it]=Directory vCard
Name[ka]=vCard საქაღალდე
Name[kk]=VCard қапшығы
Name[ko]=vCard 디렉터리
Name[lt]=vCard katalogas
Name[nb]=vCard-mappe
Name[nds]=VCard-Orner
Name[nl]=vCard-map
Name[pl]=Katalog wizytówek
Name[pt]=Pasta de vCard's
Name[pt_BR]=Pasta de vCards
Name[ru]=Каталог с файлами vCard
Name[sk]=Adresár VCard
Name[sl]=Mapa vCard
Name[sr]=В‑кард фасцикла
Name[sr@ijekavian]=В‑кард фасцикла
Name[sr@ijekavianlatin]=VCard fascikla
Name[sr@latin]=VCard fascikla
Name[sv]=vCard-katalog
Name[tr]=VCard Dizini
Name[uk]=Каталог vCard
Name[x-test]=xxvCard Directoryxx
Name[zh_CN]=vCard 目录
Name[zh_TW]=vCard 目錄
Comment=Loads data from a directory with vCards
Comment[ar]=يحمّل البيانات من دليل فيه بطاقات vCard
Comment[bg]=Зареждане на данни от папка с vCard
Comment[bs]=Učitava podakte iz direktorija sa VCards
Comment[ca]=Carrega les dades des d'un directori amb vCard
Comment[ca@valencia]=Carrega les dades des d'un directori amb vCard
Comment[cs]=Načítá data z adresáře vizitek
Comment[da]=Indlæser data fra en mappe med vCards
Comment[de]=Daten werden aus einem Ordner mit vCard-Dateien geladen
Comment[el]=Φορτώνει δεδομένα από έναν κατάλογο που περιέχει κάρτες VCard
Comment[en_GB]=Loads data from a directory with vCards
Comment[eo]=Ŝargas datumojn de dosierujo kun vCards
Comment[es]=Carga datos desde un directorio con archivos vCard
Comment[et]=Andmete laadimine vCardide kataloogist
Comment[eu]=Datuak zamatzen ditu vCards-ak dituen direktorio batetik
Comment[fi]=Lataa tietoa vCardeja sisältävästä kansiosta
Comment[fr]=Charge des données depuis un dossier contenant des fichiers « vCard »
Comment[ga]=Luchtaíonn sé seo sonraí ó chomhadlann ina bhfuil v-Chártaí
Comment[gl]=Carga datos desde un cartafol con vCards.
Comment[hsb]=Čita daty ze zapiska z vCard-wizitkami
Comment[hu]=Adatokat tölt be egy vCardokat tartalmazó mappából
Comment[ia]=Carga datos ex un directorio con vCards
Comment[it]=Carica dati da una directory con dei file vCard
Comment[ka]=მონაცემების წაკითხვა vCard ფაილების შემცველი საქაღალდიდან
Comment[kk]=VCard қапшығынан деректі алып береді
Comment[ko]=vCard 디렉터리에서 데이터를 가져옵니다
Comment[lt]=įkelia duomenis iš katalogo su VCard failais
Comment[nb]=Laster data fra en mappe med vCard-filer
Comment[nds]=Laadt Daten ut en Orner mit VCard-Dateien
Comment[nl]=Laadt gegevens van een map met vCards
Comment[pl]=Wczytuje dane z katalogu z wizytówkami vCard
Comment[pt]=Carrega os dados de uma pasta com ficheiros vCard
Comment[pt_BR]=Carrega os dados de uma pasta com vCards
Comment[ru]=Загрузка данных из папки с файлами vCard
Comment[sk]=Načíta dáta z adresára s vCards
Comment[sl]=Naloži podatke iz mape z datotekami vCard
Comment[sr]=Учитава податке из фасцикле са в‑кардовима
Comment[sr@ijekavian]=Учитава податке из фасцикле са в‑кардовима
Comment[sr@ijekavianlatin]=Učitava podatke iz fascikle sa vCardovima
Comment[sr@latin]=Učitava podatke iz fascikle sa vCardovima
Comment[sv]=Läser in data från en katalog med vCard-filer
Comment[tr]=VCard dosyaları bulunan bir dizinden verileri yükler
Comment[uk]=Завантажує дані з каталогу з vCard
Comment[x-test]=xxLoads data from a directory with vCardsxx
Comment[zh_CN]=从包含 vCard 文件的目录加载数据
Comment[zh_TW]=從含有 vCard 檔的目錄載入資料
Type=AkonadiResource
Exec=akonadi_vcarddir_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vcarddir_resource
