[Desktop Entry]
Type=Application
Name=DAV Groupware
Name[ar]=DAV Groupware
Name[bg]=DAV Groupware
Name[ca]=Treball en grup DAV
Name[ca@valencia]=Treball en grup DAV
Name[cs]=DAV Groupware
Name[de]=DAV Groupware
Name[en_GB]=DAV Groupware
Name[eo]=DAV Groupware
Name[es]=Software colaborativo DAV
Name[eu]=DAV talde-lanerako aplikazioak
Name[fi]=DAV-työryhmäohjelmisto
Name[fr]=Logiciel de collaboration « DAV »
Name[gl]=Traballo en grupo DAV
Name[ia]=DAV Groupware
Name[it]=Groupware DAV
Name[ka]=DAV Groupware
Name[ko]=DAV 그룹웨어
Name[nl]=DAV-groupware
Name[pl]=Praca grupowa DAV
Name[pt]=DAV Groupware
Name[pt_BR]=Groupware DAV
Name[ru]=Совместная работа в DAV
Name[sl]=DAV Groupware
Name[sv]=DAV grupprogram
Name[tr]=DAV Groupware
Name[uk]=Групова робота у DAV
Name[x-test]=xxDAV Groupwarexx
Name[zh_CN]=DAV 群件
NoDisplay=true
Exec=akonadi_davgroupware_resource
Icon=folder-remote
