[Desktop Entry]
Name=New Email Notifier
Name[ar]=إخطار ببريد جديد
Name[bg]=Уведомяване за нова поща
Name[bs]=Novi obavještavač o pošti
Name[ca]=Notificador de correu electrònic nou
Name[ca@valencia]=Notificador de correu electrònic nou
Name[cs]=Upozornění na nový e-mail
Name[da]=Bekendtgørelse af nye e-mails
Name[de]=E-Mail-Benachrichtigung
Name[el]=Ειδοποιητής νέας αλληλογραφίας
Name[en_GB]=New Email Notifier
Name[eo]=Nova Retpoŝta Notigilo
Name[es]=Notificador de correos nuevos
Name[et]=Uue kirja teavitaja
Name[eu]=E-posta berri jakinarazlea
Name[fi]=Uudesta postista ilmoitin
Name[fr]=Notification de nouveaux courriers électroniques
Name[ga]=Fógra Ríomhphoist Nua
Name[gl]=Novo notificador de correo electrónico
Name[hsb]=Skedźbnjenje na nowe mejlki
Name[hu]=Új e-mail értesítő
Name[ia]=Notificator de nove messages de e-posta
Name[it]=Notifiche dei nuovi messaggi di posta
Name[ka]=ახალი ელფოსტის გაფრთხილება
Name[kk]=Жаңа эл.пошта туралы хабарлау
Name[km]=កម្មវិធី​ជូន​ដំណឹង​អ៊ីមែល​ថ្មី
Name[ko]=새 메일 알리미
Name[lt]=Naujo pašto pranešėjas
Name[lv]=Jauna pasta paziņotājs
Name[nb]=Varsling om ny e-post
Name[nds]=Nieg-Nettpost-Bescheedgever
Name[nl]=Nieuwe e-mailmelder
Name[pa]=ਨਵੀਂ ਈਮੇਲ ਸੂਚਨਾ
Name[pl]=Powiadomienie o nowej poczcie
Name[pt]=Notificação de Correio Novo
Name[pt_BR]=Notificação de novo e-mail
Name[ro]=Notificator mesaje noi
Name[ru]=Уведомления о новой почте
Name[sk]=Oznamovač novej pošty
Name[sl]=Obvestilnik o novi e-pošti
Name[sr]=Извештавач о пристиглој е‑пошти
Name[sr@ijekavian]=Извештавач о пристиглој е‑пошти
Name[sr@ijekavianlatin]=Izveštavač o pristigloj e‑pošti
Name[sr@latin]=Izveštavač o pristigloj e‑pošti
Name[sv]=Ny brevunderrättelse
Name[ta]=புதிய அஞ்சல் அறிவிப்பி
Name[tr]=Yeni E-posta Bildirimi
Name[uk]=Сповіщувач про нові повідомлення
Name[x-test]=xxNew Email Notifierxx
Name[zh_CN]=新邮件提醒
Name[zh_TW]=新郵件通知器
Comment=Notifications about newly received emails
Comment[ar]=إخطارات بالبريد المستلم حديثًا
Comment[bg]=Известия за нови получени имейли
Comment[bs]=Obavještenja o novoprimljenoj pošti
Comment[ca]=Notificacions quant a correus electrònics nous rebuts
Comment[ca@valencia]=Notificacions quant a correus electrònics nous rebuts
Comment[cs]=Upozornění na nově příchozí e-mail
Comment[da]=Bekendtgørelser om nyligt modtagne e-mails
Comment[de]=Benachrichtigungen über neu empfangene E-Mails
Comment[el]=Ειδοποιήσεις για νέα αλληλογραφία
Comment[en_GB]=Notifications about newly received emails
Comment[eo]=Sciigoj pri nove ricevitaj retpoŝtoj
Comment[es]=Notificaciones sobre correos recibidos recientemente
Comment[et]=Märguanded äsja saabunud e-kirjade kohta
Comment[eu]=Berriki jasotako e-postei buruzko jakinarazpena
Comment[fi]=Ilmoitukset saapuneesta uudesta sähköpostista
Comment[fr]=Notifications à propos des courriers électroniques récemment reçus
Comment[ga]=Fógraí faoi ríomhphost nua
Comment[gl]=Notificacións de mensaxes acabadas de chegar.
Comment[hsb]=Skedźbnjenja wo nowych mejlkach
Comment[hu]=Értesítések újonnan érkezett e-mailekről
Comment[ia]=Notificationes re nove e-postas recipite
Comment[it]=Notifiche dei messaggi di posta elettronica ricevuti recentemente
Comment[ka]=გაფრთხილება ახალი ელფოსტების შესახებ
Comment[kk]=Жаңа эл.пошта келгені туралы хабарлау
Comment[km]=ការ​ជូន​ដំណឹង​អំពី​អ៊ីមែល​​​ដែល​បាន​ទទួល​ថ្មីៗ
Comment[ko]=새로 받은 메일 알림
Comment[lt]=Pranešimai apie naujai atsiųstus el. laiškus
Comment[lv]=Paziņojumi par jauniem e-pastiem
Comment[nb]=Varslinger om nylig mottatte e-poster
Comment[nds]=Bescheden över nieg rinkamen Nettbreven
Comment[nl]=Meldingen over nieuw ontvangen e-mails
Comment[pl]=Powiadomienia o nowo otrzymanych wiadomościach
Comment[pt]=Notificações acerca do correio novo recebido
Comment[pt_BR]=Notificações sobre os novos e-mails recebidos
Comment[ro]=Notificări despre mesajele noi
Comment[ru]=Уведомления о получении новых электронных писем
Comment[sk]=Notifikácie o novo prijatých e-mailoch
Comment[sl]=Obvestila o na novo prispeli e-pošti
Comment[sr]=Обавештења о недавно пристиглој е‑пошти
Comment[sr@ijekavian]=Обавештења о недавно пристиглој е‑пошти
Comment[sr@ijekavianlatin]=Obaveštenja o nedavno pristigloj e‑pošti
Comment[sr@latin]=Obaveštenja o nedavno pristigloj e‑pošti
Comment[sv]=Underrättelser om nyss mottagen e-post
Comment[ta]=புதிய அஞ்சல்களை பற்றிய அறிவிப்புகள்
Comment[tr]=Yeni gelen e-postalar için bildirimler
Comment[uk]=Сповіщення щодо щойно отриманих повідомлень
Comment[x-test]=xxNotifications about newly received emailsxx
Comment[zh_CN]=新邮件通知
Comment[zh_TW]=收到新郵件的通知
Icon=mail-unread-new
Type=AkonadiAgent
Exec=akonadi_newmailnotifier_agent

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_newmailnotifier_agent
