[Desktop Entry]
Type=Application
Name=Google Groupware
Name[ar]=البرمجيات التعاونية من غوغل
Name[bg]=Google Groupware
Name[ca]=Google Groupware
Name[ca@valencia]=Google Groupware
Name[cs]=Google Groupware
Name[de]=Google Groupware
Name[en_GB]=Google Groupware
Name[eo]=Google Groupware
Name[es]=Google Groupware
Name[et]=Google Groupware
Name[eu]=Google Groupware
Name[fi]=Google Groupware
Name[fr]=Logiciel de groupe de travail « Google Groupware »
Name[gl]=Traballo en grupo de Google
Name[hsb]=Google Groupware
Name[ia]=Google Groupware
Name[it]=Google Groupware
Name[ka]=Google Groupware
Name[ko]=Google 그룹웨어
Name[nl]=Google Groupware
Name[pl]=Praca grupowa Google
Name[pt]='Groupware' do Google
Name[pt_BR]=Google Groupware
Name[ru]=Службы совместной работы Google
Name[sl]=Google Groupware
Name[sv]=Google grupprogram
Name[tr]=Google Groupware
Name[uk]=Групова робота у Google
Name[x-test]=xxGoogle Groupwarexx
Name[zh_CN]=Google 协作套件
NoDisplay=true
Exec=akonadi_google_resource
Icon=im-google
