[Desktop Entry]
Type=Application
Name=vCard File
Name[ar]=ملفّ vCard
Name[bg]=Файл vCard
Name[bs]=VCard datoteka
Name[ca]=Fitxer vCard
Name[ca@valencia]=Fitxer vCard
Name[cs]=Soubor s vizitkou
Name[da]=vCard-fil
Name[de]=vCard-Datei
Name[el]=VCard αρχείο
Name[en_GB]=vCard File
Name[eo]=vCard-dosiero
Name[es]=Archivo vCard
Name[et]=vCard-fail
Name[eu]=vCard fitxategia
Name[fi]=vCard-tiedosto
Name[fr]=Fichier « vCard »
Name[ga]=Comhad v-Chárta
Name[gl]=Ficheiro vCard
Name[hsb]=vCard-wizitkowa dataja
Name[hu]=vCard fájl
Name[ia]=File VCard
Name[it]=File vCard
Name[ka]=vCard ფაილი
Name[kk]=VCard файлы
Name[ko]=vCard 파일
Name[lt]=VCard failas
Name[nb]=vCard-fil
Name[nds]=VCard-Datei
Name[nl]=vCard-bestand
Name[pl]=Plik wizytówek
Name[pt]=Ficheiro vCard
Name[pt_BR]=Arquivo vCard
Name[ru]=Файл vCard
Name[sk]=Súbor VCard
Name[sl]=Datoteka vCard
Name[sr]=В‑кард фајл
Name[sr@ijekavian]=В‑кард фајл
Name[sr@ijekavianlatin]=VCard fajl
Name[sr@latin]=VCard fajl
Name[sv]=vCard-fil
Name[tr]=VCard Dosyası
Name[ug]=vCard ھۆججىتى
Name[uk]=Файл vCard
Name[x-test]=xxvCard Filexx
Name[zh_CN]=vCard 文件
Name[zh_TW]=vCard 檔案
NoDisplay=true
Exec=akonadi_vcard_resource
Icon=text-x-vcard
