[Desktop Entry]
Name=Mail Dispatcher Agent
Name[ar]=وكيل إرسال البريد
Name[bg]=Диспечер на поща
Name[bs]=Dispačer mail agent
Name[ca]=Agent distribuïdor de correu
Name[ca@valencia]=Agent distribuïdor de correu
Name[cs]=Agent odesílatele zpráv
Name[da]=Mailafsendingsagent (MDA)
Name[de]=Agent zur Nachrichten-Auslieferung
Name[el]=Πράκτορας αποστολής αλληλογραφίας
Name[en_GB]=Mail Dispatcher Agent
Name[eo]=Agento de Poŝt Dispatcher
Name[es]=Agente despachador de correo
Name[et]=Kirjade edastamise agent
Name[eu]=Posta igortzeko agentea
Name[fi]=Postinvälitysagentti
Name[fr]=Agent de diffusion de messages
Name[gl]=Axente de Despacho de Correo
Name[hsb]=Mail Dispatcher Agent
Name[hu]=Levélfeladó ügynök
Name[ia]=Agente Distributor de Posta
Name[it]=Agente per la consegna della posta
Name[ja]=メール送信エージェント
Name[ka]=ელფოსტის გაფრთხილების აგენტი
Name[kk]=Пошта реттеуш агенті
Name[km]=ភ្នាក់ងារ​កម្មវិធី​បញ្ជូន​សំបុត្រ
Name[ko]=메일 가져오기 마법사
Name[lt]=Laiškų gijų išdėstymo agentas
Name[lv]=Pasta nosūtīšanas aģents
Name[nb]=Agent for e-postsending
Name[nds]=Nettpostverdeel-Hölper
Name[nl]=Agent voor het verzenden van e-mail
Name[pa]=ਮੇਲ ਡਿਸਪੈਚਰ ਏਜੰਟ
Name[pl]=Usługa wysyłania poczty
Name[pt]=Agente de Despacho do Correio
Name[pt_BR]=Agente de encaminhamento de e-mails
Name[ro]=Agent de livrare a mesajelor
Name[ru]=Агент почтового диспетчера
Name[sk]=Agent spracovania pošty
Name[sl]=Posrednik za razpošiljanje pošte
Name[sr]=Агент отпремања поште
Name[sr@ijekavian]=Агент отпремања поште
Name[sr@ijekavianlatin]=Agent otpremanja pošte
Name[sr@latin]=Agent otpremanja pošte
Name[sv]=E-postsändningsmodul
Name[ta]=அஞ்சலனுப்பும் பின்னணி சேவை
Name[tr]=E-posta Yönetim Aracı
Name[ug]=Mail Dispatcher Agent
Name[uk]=Агент розподілу пошти
Name[x-test]=xxMail Dispatcher Agentxx
Name[zh_CN]=邮件签发代理
Name[zh_TW]=郵件配送代理程式
Comment=Dispatches email messages
Comment[ar]=يُرسل رسائل البريد الإلكترونيّ
Comment[bg]=Изпращане на имейл съобщения
Comment[bs]=Raspoređuje E-mail poruke
Comment[ca]=Distribueix missatges de correu electrònic
Comment[ca@valencia]=Distribuïx missatges de correu electrònic
Comment[cs]=Odesílá e-mailové zprávy
Comment[da]=Udsender e-mails
Comment[de]=Verteilt E-Mail-Nachrichten
Comment[el]=Διανέμει μηνύματα ηλ. ταχυδρομείου
Comment[en_GB]=Dispatches email messages
Comment[eo]=Dispendas retpoŝtajn mesaĝojn
Comment[es]=Remite mensajes de correo
Comment[et]=Kirjade edastamine
Comment[eu]=E-posta mezuak igortzen ditu
Comment[fi]=Lähettää sähköpostiviestejä
Comment[fr]=Diffuse les courriers électroniques
Comment[gl]=Xestiona mensaxes de correo.
Comment[hsb]=Sćele mejlki
Comment[hu]=E-mail üzeneteket kézbesít
Comment[ia]=Expedi messages de e-posta
Comment[it]=Invia messaggi di posta elettronica
Comment[ka]=ელფოსტის შეტყობინებების გამგზავნი
Comment[kk]=Пошта хаттарын үлестіру
Comment[ko]=이메일 메시지를 가져옵니다
Comment[lt]=Išsiunčia el. laiškus
Comment[nb]=Sender ut e-postmeldinger
Comment[nds]=Verdeelt Nettpost
Comment[nl]=Verstuurt e-mailberichten
Comment[pl]=Rozsyła wiadomości pocztowe
Comment[pt]=Trata das mensagens de e-mail
Comment[pt_BR]=Encaminhamento de e-mails
Comment[ro]=Remite scrisori electronice
Comment[ru]=Рассылает почтовые сообщения
Comment[sk]=Vybavuje e-mailové správy
Comment[sl]=Odpošlje e-poštna sporočila
Comment[sr]=Отпрема е‑поштанске поруке
Comment[sr@ijekavian]=Отпрема е‑поштанске поруке
Comment[sr@ijekavianlatin]=Otprema e‑poštanske poruke
Comment[sr@latin]=Otprema e‑poštanske poruke
Comment[sv]=Skickar brev med e-post
Comment[ta]=மின்னஞ்சல்களை அனுப்பும்
Comment[tr]=E-posta iletilerini yollar
Comment[uk]=Розповсюджує повідомлення електронної пошти
Comment[x-test]=xxDispatches email messagesxx
Comment[zh_CN]=发送电子邮件
Comment[zh_TW]=分配電子郵件訊息
Type=AkonadiAgent
Exec=akonadi_maildispatcher_agent
Icon=mail-folder-outbox

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_maildispatcher_agent
