[Desktop Entry]
Name=KMail Mail Folder
Name[ar]=مجلّد بريد «بريدك»
Name[bg]=Папка с поща на KMail
Name[bs]=KMail fascikla pošte
Name[ca]=Carpeta de correu del KMail
Name[ca@valencia]=Carpeta de correu de KMail
Name[cs]=Složka pošty KMailu
Name[da]=KMail's Mail-mappe
Name[de]=KMail-Mailordner
Name[el]=Φάκελος αλληλογραφίας KMail
Name[en_GB]=KMail Mail Folder
Name[eo]=KMail Poŝta Dosierujo
Name[es]=Carpeta de correo de KMail
Name[et]=KMaili kirjade kataloog
Name[eu]=KMail posta-karpeta
Name[fi]=KMail-postikansio
Name[fr]=Dossier de courriers électroniques KMail
Name[ga]=Fillteán Ríomhphoist KMail
Name[gl]=Cartafol de correo de KMail
Name[hu]=KMail levélmappa
Name[ia]=Dossier de posta de KMail
Name[it]=Cartella di posta di KMail
Name[ka]=KMail ელფოსტის საქაღლდე
Name[kk]=KMail пошта қапшығы
Name[km]=ថត​សំបុត្រ KMail
Name[ko]=KMail 메일 폴더
Name[lt]=KMail el. laiškų katalogas
Name[lv]=KMail pasta mape
Name[nb]=KMail e-postmappe
Name[nds]=KMail-Nettpostorner
Name[nl]=E-mailmap van KMail
Name[pl]=Katalog Poczty KMail
Name[pt]=Pasta de Correio do KMail
Name[pt_BR]=Pasta de e-mails do KMail
Name[ru]=Почтовая папка KMail
Name[sk]=Poštový priečinok KMail
Name[sl]=Poštna mapa za KMail
Name[sr]=К‑поштина поштанска фасцикла
Name[sr@ijekavian]=К‑поштина поштанска фасцикла
Name[sr@ijekavianlatin]=K‑poština poštanska fascikla
Name[sr@latin]=K‑poština poštanska fascikla
Name[sv]=Kmail brevkatalog
Name[tr]=K Posta Posta Klasörü
Name[uk]=Тека пошти KMail
Name[x-test]=xxKMail Mail Folderxx
Name[zh_CN]=KMail 邮件文件夹
Name[zh_TW]=KMail 資料夾
Comment=Loads data from a local KMail mail folder
Comment[ar]=يحمّل البيانات من مجلّد بريد «بريدك»
Comment[bg]=Зареждане на данни от локална папка с поща на KMail
Comment[bs]=Učitava podatke iz lokalne fascikle KMail pošte
Comment[ca]=Carrega les dades des d'una carpeta local de correu del KMail
Comment[ca@valencia]=Carrega les dades des d'una carpeta local de correu de KMail
Comment[cs]=Načítá data z místní složky pošty KMail
Comment[da]=Indlæser data fra en lokal KMail mail-mappe
Comment[de]=Daten werden aus einem lokalen KMail-Mailordner geladen
Comment[el]=Φορτώνει δεδομένα από έναν τοπικό φάκελο αλληλογραφίας του KMail
Comment[en_GB]=Loads data from a local KMail mail folder
Comment[eo]=Ŝargas datumojn de loka poŝta dosierujo de KMail
Comment[es]=Carga datos de una carpeta de correo local de KMail
Comment[et]=Andmete laadimine kohalikust KMaili kirjade kataloogist
Comment[eu]=Datuak zamatzen ditu KMail posta-karpeta lokal batetik
Comment[fi]=Lataa tietoa paikallisesta KMail-postikansiosta
Comment[fr]=Charge des données depuis un dossier local KMail
Comment[ga]=Luchtaíonn sé seo sonraí ó fhillteán logánta KMail
Comment[gl]=Carga datos desde un cartafol de correo local de KMail.
Comment[hu]=Adatok betöltése egy helyi KMail levélmappából
Comment[ia]=Carga datos ex un dossier local de posta de KMail
Comment[it]=Carica dati da una cartella locale di posta di KMail
Comment[ka]=მონაცემების ლოკალური KMail-ის ელფოსტის საქაღალდიდან წაკითხვა
Comment[kk]=Жергілікті KMail пошта қапшығынан деректі алып береді
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ថត​សំបុត្រ KMail មូលដ្ឋាន
Comment[ko]=로컬 KMail 메일 폴더에서 데이터를 가져옵니다
Comment[lt]=Įkelia duomenis iš vietinio KMail aplanko
Comment[lv]=Ielādē datus no lokālās KMail pasta mapes
Comment[nb]=Laster data fra en lokal KMail e-ppstmappe
Comment[nds]=Laadt Daten ut en lokaal KMail-Nettpostorner
Comment[nl]=Laadt gegevens van een lokale e-mailmap van Kmail
Comment[pl]=Wczytuje dane z lokalnego katalogu poczty KMail
Comment[pt]=Carrega os dados a partir de uma pasta de correio local do KMail
Comment[pt_BR]=Carrega os dados de uma pasta de e-mails local do KMail
Comment[ru]=Загрузка данных из локальной почтовой папки KMail
Comment[sk]=Načíta dáta z miestneho mailového priečinka KMail
Comment[sl]=Naloži podatke iz krajevne poštne mape za KMail
Comment[sr]=Учитава податке из локалне К‑поштине поштанске фасцикле
Comment[sr@ijekavian]=Учитава податке из локалне К‑поштине поштанске фасцикле
Comment[sr@ijekavianlatin]=Učitava podatke iz lokalne K‑poštine poštanske fascikle
Comment[sr@latin]=Učitava podatke iz lokalne K‑poštine poštanske fascikle
Comment[sv]=Laddar data från en lokal Kmail brevkatalog
Comment[tr]=Yerel K Posta posta klasöründen veri yükleme aracı
Comment[uk]=Завантажує дані з локальної теки пошти KMail
Comment[x-test]=xxLoads data from a local KMail mail folderxx
Comment[zh_CN]=从本地 KMail 邮件文件夹中加载数据
Comment[zh_TW]=從本地 KMail 資料夾中載入資料
Type=AkonadiResource
Exec=akonadi_mixedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mixedmaildir_resource
X-Akonadi-Custom-HasLocalStorage=true
