[Desktop Entry]
Name=MailBox
Name[ar]=صندوق البريد
Name[bg]=MailBox
Name[bs]=MailBox
Name[ca]=Bústia
Name[ca@valencia]=Bústia
Name[cs]=Poštovní schránka
Name[da]=MailBox
Name[de]=Mailbox
Name[el]=Γραμματοκιβώτιο
Name[en_GB]=MailBox
Name[eo]=Leterkesto
Name[es]=MailBox
Name[et]=MailBox
Name[eu]=MailBox
Name[fi]=MailBox
Name[fr]=Messagerie
Name[ga]=MailBox
Name[gl]=Caixa de correo
Name[hsb]=MailBox
Name[hu]=MailBox
Name[ia]=Cassa postal
Name[it]=MailBox
Name[ja]=メールボックス
Name[ka]=MailBox
Name[kk]=MailBox
Name[km]=MailBox
Name[ko]=MailBox
Name[lt]=Pašto dėžutė
Name[lv]=MailBox
Name[nb]=Postkasse
Name[nds]=Postfach
Name[nl]=MailBox
Name[nn]=MailBox
Name[pa]=MailBox
Name[pl]=Skrzynka pocztowa
Name[pt]=Caixa de Correio
Name[pt_BR]=MailBox
Name[ro]=MailBox
Name[ru]=MailBox
Name[sk]=MailBox
Name[sl]=MailBox
Name[sr]=Мбокс
Name[sr@ijekavian]=Мбокс
Name[sr@ijekavianlatin]=Mbox
Name[sr@latin]=Mbox
Name[sv]=Mailbox
Name[tr]=MailBox
Name[ug]=خەت ساندۇقى
Name[uk]=MailBox
Name[x-test]=xxMailBoxxx
Name[zh_CN]=MailBox
Name[zh_TW]=信箱格式（Mailbox）
Icon=message-rfc822
Comment=Mailbox account
Comment[ar]=حساب صندوق البريد
Comment[bg]=Акаунт в Mailbox
Comment[bs]=Mailbox nalog
Comment[ca]=Compte de bústia
Comment[ca@valencia]=Compte de bústia
Comment[cs]=Účet poštovní schránky
Comment[da]=Mailbox-konto
Comment[de]=Mailbox-Zugang
Comment[el]=Λογαριασμός Γραμματοκιβωτίου
Comment[en_GB]=Mailbox account
Comment[eo]=Leterkesto konto
Comment[es]=Cuenta de Mailbox
Comment[et]=Mailbox-konto
Comment[eu]=Mailbox kontua
Comment[fi]=Mailbox-tili
Comment[fr]=Compte de messagerie
Comment[ga]=Cuntas MailBox
Comment[gl]=Conta da caixa de correo.
Comment[hu]=Mailbox azonosító
Comment[ia]=Conto de cassa postal
Comment[it]=Account Mailbox
Comment[ja]=メールボックスのアカウント
Comment[ka]=Mailbox ანგარიში
Comment[kk]=Mailbox тірккелгісі
Comment[km]=គណនី Mailbox
Comment[ko]=Mailbox 계정
Comment[lt]=Pašto dėžutės paskyra
Comment[lv]=Mailbox konts
Comment[nb]=Mailbox-konto
Comment[nds]=Nettpostkonto
Comment[nl]=Mailbox-account
Comment[nn]=MailBox-konto
Comment[pa]=Mailbox ਅਕਾਊਂਟ
Comment[pl]=Konto Mailbox
Comment[pt]=Conta de Caixa do Correio
Comment[pt_BR]=Conta Mailbox
Comment[ro]=Cont Mailbox
Comment[ru]=Учётная запись Maildir
Comment[sk]=Účet mailboxu
Comment[sl]=Račun MailBox
Comment[sr]=Мбокс налог
Comment[sr@ijekavian]=Мбокс налог
Comment[sr@ijekavianlatin]=Mbox nalog
Comment[sr@latin]=Mbox nalog
Comment[sv]=Mailbox-konto
Comment[tr]=Mailbox hesabı
Comment[uk]=Обліковий запис Mailbox
Comment[x-test]=xxMailbox accountxx
Comment[zh_CN]=MailBox 账户
Comment[zh_TW]=Mailbox 帳號

[Wizard]
Type=message/rfc822
Script=mailboxwizard.es

[Translate]
Filename=accountwizard_mailbox
