[Desktop Entry]
Name=IMAP E-Mail Server
Name[ar]=خادوم البريد الإلكترونيّ IMAP
Name[bg]=Пощенски сървър IMAP
Name[bs]=IMAP server za e-poštu
Name[ca]=Servidor de correu IMAP
Name[ca@valencia]=Servidor de correu IMAP
Name[cs]=E-mailový IMAP server
Name[da]=IMAP e-mail-server
Name[de]=IMAP-E-Mail-Server
Name[el]=Eξυπηρετητής ηλ.ταχυδρομείου IMAP
Name[en_GB]=IMAP E-Mail Server
Name[eo]=IMAP-Retpoŝta Servilo
Name[es]=Servidor de correo IMAP
Name[et]=IMAP e-posti server
Name[eu]=IMAP e-posta zerbitzaria
Name[fi]=IMAP-sähköpostipalvelin
Name[fr]=Serveur de courriers électroniques IMAP
Name[ga]=Freastalaí Ríomhphoist IMAP
Name[gl]=Servidor de Correo IMAP
Name[hsb]=IMAP emejlowy serwer
Name[hu]=IMAP e-mail kiszolgáló
Name[ia]=Servitor IMAP de e-posta
Name[it]=Server di posta IMAP
Name[ja]=IMAP メールサーバ
Name[ka]=IMAP ელფოსტის სერვერი
Name[kk]=IMAP эл.пошта сервері
Name[km]=ម៉ាស៊ីន​បម្រើ​អ៊ីមែល IMAP
Name[ko]=IMAP 이메일 서버
Name[lt]=IMAP el. pašto serveris
Name[lv]=IMAP e-pasta serveris
Name[nb]=IMAP E-post-tjener
Name[nds]=IMAP-Nettpostserver
Name[nl]=IMAP e-mailserver
Name[nn]=IMAP-basert e-posttenar
Name[pa]=IMAP ਈਮੇਲ ਸਰਵਰ
Name[pl]=Serwer pocztowy IMAP
Name[pt]=Servidor de E-Mail IMAP
Name[pt_BR]=Servidor de e-mails IMAP
Name[ro]=Server de poștă IMAP
Name[ru]=Почтовый сервер IMAP
Name[sk]=IMAP poštový server
Name[sl]=E-poštni strežnik IMAP
Name[sr]=ИМАП сервер е‑поште
Name[sr@ijekavian]=ИМАП сервер е‑поште
Name[sr@ijekavianlatin]=IMAP server e‑pošte
Name[sr@latin]=IMAP server e‑pošte
Name[sv]=IMAP e-postserver
Name[tr]=IMAP E-posta Sunucusu
Name[uk]=Сервер пошти IMAP
Name[x-test]=xxIMAP E-Mail Serverxx
Name[zh_CN]=IMAP 邮件服务器
Name[zh_TW]=IMAP 信件伺服器
Comment=Connects to an IMAP e-mail server
Comment[ar]=يتصّل مع خادوم IMAP للبريد الإلكترونيّ
Comment[bg]=Свързване с пощенски сървър IMAP
Comment[bs]=Povezivanje na IMAP e-mail server
Comment[ca]=Connecta a un servidor de correu IMAP
Comment[ca@valencia]=Connecta a un servidor de correu IMAP
Comment[cs]=Připojí se na e-mailový IMAP server
Comment[da]=Forbinder til en IMAP e-mail-server
Comment[de]=Verbindet zu einem IMAP E-Mail-Server.
Comment[el]=Συνδέεται σε έναν εξυπηρετητή ηλ.ταχυδρομείου IMAP
Comment[en_GB]=Connects to an IMAP e-mail server
Comment[eo]=Konektas al IMAP-retpoŝta servilo
Comment[es]=Conecta a un servidor de correo IMAP
Comment[et]=Ühendumine IMAP e-posti serveriga
Comment[eu]=IMAP e-posta zerbitzari batera konektatzen da
Comment[fi]=Yhdistää IMAP-sähköpostipalvelimeen
Comment[fr]=Se connecte à un serveur de courriers électroniques IMAP
Comment[gl]=Conéctase a un servidor de correo IMAP.
Comment[hsb]=Zwjaza so z IMAP-serwerom za mejlki
Comment[hu]=Kapcsolódás egy IMAP e-mail kiszolgálóhoz
Comment[ia]=Connecte a un servitor IMAP de e-posta
Comment[it]=Si collega ad un server di posta IMAP
Comment[ja]=IMAP のメールサーバに接続します。
Comment[ka]=IMAP ელფოსტის სერვერთან მიერთება
Comment[kk]=IMAP эл.пошта серверімен байланыс құру
Comment[km]=តភ្ជាប់​ទៅ​កាន់​ម៉ាស៊ីន​បម្រើ​អ៊ីមែល IMAP
Comment[ko]=IMAP 이메일 서버에 연결합니다
Comment[lt]=Prisijungia prie IMAP el. pašto serverio.
Comment[lv]=Pieslēdzas IMAP e-pasta serverim
Comment[nb]=Kobler til en IMAP e-posttjener
Comment[nds]=Stellt en Verbinnen na en IMAP-Nettpostserver op.
Comment[nl]=Maakt verbinding met een IMAP-e-mailserver
Comment[nn]=Koplar til ein IMAP-basert e-posttenar
Comment[pa]=IMAP ਈਮੇਲ ਸਰਵਰ ਨਾਲ ਕੁਨੈਕਟ ਕਰਦਾ ਹੈ।
Comment[pl]=Łączy z serwerem poczty IMAP
Comment[pt]=Liga-se a um servidor de e-mail em IMAP
Comment[pt_BR]=Conecta a um servidor de e-mails IMAP
Comment[ro]=Se conectează la un server de poștă IMAP
Comment[ru]=Подключение к почтовому серверу IMAP
Comment[sk]=Pripojí sa na IMAP poštový server
Comment[sl]=Poveže se z e-poštnim strežnikom IMAP
Comment[sr]=Повезује се на ИМАП сервер е‑поште
Comment[sr@ijekavian]=Повезује се на ИМАП сервер е‑поште
Comment[sr@ijekavianlatin]=Povezuje se na IMAP server e‑pošte
Comment[sr@latin]=Povezuje se na IMAP server e‑pošte
Comment[sv]=Ansluter till en IMAP e-postserver
Comment[tr]=IMAP e-posta sunucusuna bağlanır
Comment[uk]=Встановлює з’єднання з поштовим сервером IMAP
Comment[x-test]=xxConnects to an IMAP e-mail serverxx
Comment[zh_CN]=连接到 IMAP 电子邮件服务器
Comment[zh_TW]=連線到 IMAP 信件伺服器
Type=AkonadiResource
Exec=akonadi_imap_resource
Icon=network-server

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_imap_resource
