[Desktop Entry]
Name=Migration Agent
Name[ar]=وكيل التّرحيل
Name[bg]=Миграция
Name[bs]=Migracijski agent
Name[ca]=Agent de migració
Name[ca@valencia]=Agent de migració
Name[da]=Migreringsagent
Name[de]=Migrations-Assistent
Name[el]=Πράκτορας μεταφοράς
Name[en_GB]=Migration Agent
Name[eo]=Migrado Agento
Name[es]=Agente de migración
Name[et]=Migreerimisagent
Name[eu]=Migratzeko agentea
Name[fi]=Siirtoagentti
Name[fr]=Agent de migration
Name[gl]=Axente de migración
Name[hsb]=Migraciski agent
Name[hu]=Költöztető ügynök
Name[ia]=Agente de migration
Name[it]=Agente di migrazione
Name[ka]=მიგრაციის აგენტი
Name[kk]=Көшіп ауысу агенті
Name[ko]=이전 마법사
Name[lt]=Migravimo agentas
Name[nb]=Migreringsagent
Name[nds]=Ümwannelhölper
Name[nl]=Migratie-agent
Name[pl]=Usługa przenoszenia poczty
Name[pt]=Agente de Migração
Name[pt_BR]=Agente de Migração
Name[ru]=Агент переноса данных
Name[sk]=Agent migrácie
Name[sl]=Posrednik za selitev
Name[sr]=Агент селидбе
Name[sr@ijekavian]=Агент селидбе
Name[sr@ijekavianlatin]=Agent selidbe
Name[sr@latin]=Agent selidbe
Name[sv]=Överföringsmodul
Name[tr]=Taşıma Yardımcısı
Name[uk]=Агент перенесення
Name[x-test]=xxMigration Agentxx
Name[zh_CN]=迁移助手
Name[zh_TW]=移植代理程式
Type=AkonadiAgent
Exec=akonadi_migration_agent
Icon=system-reboot

X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_migration_agent
