[Desktop Entry]
Name=Fedora
Comment=Fedora theme by Fedora KDE SIG
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[ca]=Escriptori;Espai de treball;Aparença;Aparença i comportament;Sortida;Bloqueig;Suspensió;Aturada;Hibernació;
Keywords[de]=Desktop;Arbeitsfläche;Erscheinungsbild;Erscheinungsbild und Verhalten;Abmelden;Sperren;Ruhezustand;Tiefschlaf;Herunterfahren;
Keywords[el]=Επιφάνεια εργασίας;Χώρος εργασίας; Εμφάνιση;Όψη και Αίσθηση;Αποσύνδεση;Κλείδωμα;Αναστολή;Τερματισμός;Νάρκη;
Keywords[en_GB]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[es]=Escritorio;Espacio de trabajo;Apariencia;Aspecto visual;Cerrar sesión;Bloquear;Suspender;Apagar;Hibernar;
Keywords[fi]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;Työpöytä;Työtila;Ulkoasu;Ulkoasu ja tuntuma;Kirjaudu ulos;Lukitse;Valmiustila;Sammuta;Lepotila;
Keywords[gl]=Escritorio;Espazo de traballo;Aparencia;Aparencia e Comportamento;Saír;Trancar;Bloquear;Suspender;Apagar;Hibernar
Keywords[hu]=Asztal;Munkaterület;Megjelenés;Kinézet;Kijelentkezés;Zárolás;Felfüggesztés;Leállítás;Hibernálás
Keywords[id]=Desktop;Ruang Kerja;Tampilan;Tampilan dan Rasa;Keluar;Kunci;Suspensi;Matikan;Hibernasi;
Keywords[it]=desktop;spazio di lavoro;aspetto;uscita;blocco;sospensione;spegnimento;ibernazione;
Keywords[ko]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;데스크톱;작업공간;모양;로그아웃;잠금;대기모드;종료;끄기;최대절전모드
Keywords[nl]=Bureaublad;Werkruimte;Uiterlijk;Uiterlijk en gedrag;Afmelden;Vergrendelen;Onderbreken;Afsluiten;Slapen naar schijf;
Keywords[pl]=Pulpit;Przestrzeń robocza;Wygląd;Wygląd i Odczucia;Wylogowanie;Zablokowanie ;Wstrzymanie;Zamknięcie;Hibernowanie;Wrażenia;
Keywords[pt]=Ecrã;Área de Trabalho;Aparência;Aparência e Comportamento;Encerrar;Bloquear;Suspender;Desligar;Hibernar;
Keywords[pt_BR]=Área de trabalho;Espaço de trabalho;Aparência;Aparência e Comportamento;Encerrar sessão;Bloquear;Suspender;Desligar;Hibernar;
Keywords[ru]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;рабочий стол;рабочая среда;внешний вид;визуальное представление;выход;завершение сеанса;блокировка;приостановка работы;завершение работы;выключение;спящий режим;ждущий режим;
Keywords[sk]=Plocha;pracovná plocha;vzhľad;nastavenie;odhlásenie;zamknutie;uspanie;vypnutie;hibernácia;
Keywords[sl]=Namizje;delovni prostor;videz;videz in občutek;odjava;zaklep;pripravljenost;izklop;mirovanje;
Keywords[sr]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavian]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavianlatin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[sr@latin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[sv]=Skrivbord;Arbetsrymd;Utseende;Utseende och känsla;Utloggning;Lås;Viloläge;Avstängning;Dvala;
Keywords[tr]=Masaüstü;Çalışma Alanı;Görünüm;Görünüm ve Doku;Çık;Kilitle;Askıya Al;Kapat;Uyku;
Keywords[uk]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;стільниця;робочий простір;воркспейс;вигляд;вигляд і поведінка;вихід;вийти;заблокувати;замкнути;призупинити;вимкнути;приспати;
Keywords[x-test]=xxDesktopxx;xxWorkspacexx;xxAppearancexx;xxLook and Feelxx;xxLogoutxx;xxLockxx;xxSuspendxx;xxShutdownxx;xxHibernatexx;
Keywords[zh_CN]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;桌面;工作空间;外观;观感;注销;锁定;待机;关机;休眠;
Keywords[zh_TW]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Fedora KDE SIG
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=kde@list.fedoraproject.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.fedoraproject.fedora.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=www.fedoraproject.org
X-Plasma-MainScript=defaults
